{{>header}}
    <table class="table table-bordered">
        <thead class="thead-dark">
            <th colspan="2" style="text-align:center">
                {{curso.nombre}}
            </th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <strong>Descripcion</strong>
                </td>
                <td>
                    {{curso.descripcion}}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Modalidad</strong>
                </td>
                <td>
                    {{curso.modalidad}}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Valor</strong>
                </td>
                <td>
                    {{curso.valor}}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Intensidad</strong>
                </td>
                <td>
                    {{curso.intensidad}}
                </td>
            </tr>
        </tbody>

    </table>
{{>footer}}